<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>404 Error</title>

    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link type="text/css" rel="stylesheet" href="/css/error.css">
</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Page Not Found</h3>

        <div class="error-desc">
            <h2 >抱歉，发生了一些错误</h2>
<!--              <form class="form-inline m-t" role="form">-->
<!--                <div class="form-group">-->
<!--                    <input type="text" class="form-control" placeholder="Search for page">-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary">Search</button>-->
<!--            </form>-->
        </div>
    </div>


</body>

</html>
