<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.mju.ccce.dtrsystem.dao.CourseDao">
    <resultMap id="CourseMap" type="cn.edu.mju.ccce.dtrsystem.bean.Course">
        <result property="COURSE_ID" column="COURSE_ID"/>
        <result property="COURSE_NAME" column="COURSE_NAME"/>
        <result property="COURSE_TYPE_ID" column="COURSE_TYPE_ID"/>
        <result property="COURSE_TYPE_NAME" column="COURSE_TYPE_NAME"/>
        <result property="COURSE_DETAIL" column="COURSE_DETAIL"/>
        <result property="COURSE_TEACHER_NBR" column="COURSE_TEACHER_NBR"/>
        <result property="COURSE_TEACHER_NAME" column="COURSE_TEACHER_NAME"/>
        <result property="COURSE_STU_NBR" column="COURSE_STU_NBR"/>
        <result property="COURSE_DONE_STU_NBR" column="COURSE_DONE_STU_NBR"/>
        <result property="COURSE_TIME" column="COURSE_TIME"/>
        <result property="EVALUATE_NBR" column="EVALUATE_NBR"/>
        <result property="COURSE_STATUS" column="COURSE_STATUS"/>
        <result property="CREAT_TIME" column="CREAT_TIME"/>
        <result property="UPDATE_TIME" column="UPDATE_TIME"/>
    </resultMap>
    <sql id="sl_Course">
        <![CDATA[
         COURSE_ID,
         COURSE_NAME,
         COURSE_TYPE_ID,
         COURSE_TYPE_NAME,
         COURSE_DETAIL,
         COURSE_TEACHER_NBR,
         COURSE_TEACHER_NAME,
         COURSE_STU_NBR,
         COURSE_DONE_STU_NBR,
         COURSE_TIME,
         EVALUATE_NBR,
         COURSE_STATUS,
         CREAT_TIME,
         UPDATE_TIME
        ]]>
    </sql>
    <insert id="insertNewCourse" parameterType="cn.edu.mju.ccce.dtrsystem.bean.Course">
        INSERT INTO COURSE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="COURSE_ID != null">
                COURSE_ID,
            </if>
            <if test="COURSE_NAME != null">
                COURSE_NAME,
            </if>
            <if test="COURSE_TYPE_ID != null">
                COURSE_TYPE_ID,
            </if>
            <if test="COURSE_TYPE_NAME != null">
                COURSE_TYPE_NAME,
            </if>
            <if test="COURSE_DETAIL != null">
                COURSE_DETAIL,
            </if>
            <if test="COURSE_TEACHER_NBR != null">
                COURSE_TEACHER_NBR,
            </if>
            <if test="COURSE_TEACHER_NAME != null">
                COURSE_TEACHER_NAME,
            </if>
            <if test="COURSE_STU_NBR != null">
                COURSE_STU_NBR,
            </if>
            <if test="COURSE_DONE_STU_NBR != null">
                COURSE_DONE_STU_NBR,
            </if>
            <if test="COURSE_TIME != null">
                COURSE_TIME,
            </if>
            <if test="EVALUATE_NBR != null">
                EVALUATE_NBR,
            </if>
            <if test="COURSE_STATUS != null">
                COURSE_STATUS,
            </if>
            <if test="CREAT_TIME != null">
                CREAT_TIME,
            </if>
            <if test="UPDATE_TIME != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="COURSE_ID != null">
                #{COURSE_ID,jdbcType=VARCHAR},
            </if>
            <if test="COURSE_NAME != null">
                #{COURSE_NAME,jdbcType=NUMERIC},
            </if>
            <if test="COURSE_TYPE_ID != null">
                #{COURSE_TYPE_ID,jdbcType=VARCHAR},
            </if>
            <if test="COURSE_TYPE_NAME != null">
                #{COURSE_TYPE_NAME,jdbcType=VARCHAR},
            </if>
            <if test="COURSE_DETAIL != null">
                #{COURSE_DETAIL,jdbcType=VARCHAR},
            </if>
            <if test="COURSE_TEACHER_NBR != null">
                #{COURSE_TEACHER_NBR,jdbcType=NUMERIC},
            </if>
            <if test="COURSE_TEACHER_NAME != null">
                #{COURSE_TEACHER_NAME,jdbcType=VARCHAR},
            </if>
            <if test="COURSE_STU_NBR != null">
                #{COURSE_STU_NBR,jdbcType=NUMERIC},
            </if>
            <if test="COURSE_DONE_STU_NBR != null">
                #{COURSE_DONE_STU_NBR,jdbcType=NUMERIC},
            </if>
            <if test="COURSE_TIME != null">
                #{COURSE_TIME,jdbcType=TIMESTAMP},
            </if>
            <if test="EVALUATE_NBR != null">
                #{EVALUATE_NBR,jdbcType=NUMERIC},
            </if>
            <if test="COURSE_STATUS != null">
                #{COURSE_STATUS,jdbcType=NUMERIC},
            </if>
            <if test="CREAT_TIME != null">
                #{CREAT_TIME,jdbcType=TIMESTAMP},
            </if>
            <if test="UPDATE_TIME != null">
                #{UPDATE_TIME,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="selectCourseList" resultType="cn.edu.mju.ccce.dtrsystem.bean.Course">
        SELECT <include refid="sl_Course" />
        FROM course
        WHERE COURSE_STATUS ='0' ORDER BY COURSE_TIME
    </select>

    <select id="selectCourseByID" parameterType="java.lang.String" resultType="cn.edu.mju.ccce.dtrsystem.bean.Course">
        SELECT <include refid="sl_Course" />
        FROM course
        WHERE COURSE_ID = #{courseID,jdbcType=VARCHAR}
    </select>

    <update id="upDateCourseDoneStuNbr" parameterType="java.lang.String">
        UPDATE course
        SET COURSE_DONE_STU_NBR = #{courseDoneStuNbr,jdbcType=VARCHAR}
        WHERE COURSE_ID = #{courseID,jdbcType=VARCHAR} AND COURSE_STATUS ='0'
    </update>
    
    <select id="selectCourseListByTeacherNbr" parameterType="java.lang.String" resultType="cn.edu.mju.ccce.dtrsystem.bean.Course">
        SELECT <include refid="sl_Course" />
        FROM course
        WHERE COURSE_TEACHER_NBR = #{courseTeacherNbr,jdbcType=VARCHAR} AND DATE_SUB(CURDATE(), INTERVAL 90 DAY) &lt;= date(COURSE_TIME) AND COURSE_STATUS = #{courseStatus,jdbcType=VARCHAR}  ORDER BY COURSE_TIME DESC
    </select>

    <update id="updateCourse" parameterType="cn.edu.mju.ccce.dtrsystem.bean.Course">
        UPDATE course
        <set><trim suffixOverrides=",">
        <if test="COURSE_ID != null">
            COURSE_ID=#{COURSE_ID,jdbcType=VARCHAR},
        </if>
        <if test="COURSE_NAME != null">
            COURSE_NAME=#{COURSE_NAME,jdbcType=VARCHAR},
        </if>
        <if test="COURSE_TYPE_ID != null">
            COURSE_TYPE_ID=#{COURSE_TYPE_ID,jdbcType=NUMERIC},
        </if>
        <if test="COURSE_TYPE_NAME != null">
            COURSE_TYPE_NAME=#{COURSE_TYPE_NAME,jdbcType=VARCHAR},
        </if>
        <if test="COURSE_DETAIL != null">
            COURSE_DETAIL=#{COURSE_DETAIL,jdbcType=VARCHAR},
        </if>
        <if test="COURSE_TEACHER_NBR != null">
            COURSE_TEACHER_NBR=#{COURSE_TEACHER_NBR,jdbcType=VARCHAR},
        </if>
        <if test="COURSE_TEACHER_NAME != null">
            COURSE_TEACHER_NAME=#{COURSE_TEACHER_NAME,jdbcType=VARCHAR},
        </if>
        <if test="COURSE_STU_NBR != null">
            COURSE_STU_NBR=#{COURSE_STU_NBR,jdbcType=VARCHAR},
        </if>
        <if test="COURSE_DONE_STU_NBR != null">
            COURSE_DONE_STU_NBR=#{COURSE_DONE_STU_NBR,jdbcType=VARCHAR},
        </if>
        <if test="COURSE_TIME != null">
            COURSE_TIME=#{COURSE_TIME,jdbcType=VARCHAR},
        </if>
        <if test="EVALUATE_NBR != null">
            EVALUATE_NBR=#{EVALUATE_NBR,jdbcType=VARCHAR},
        </if>
        <if test="COURSE_STATUS != null">
            COURSE_STATUS=#{COURSE_STATUS,jdbcType=VARCHAR},
        </if>
        <if test="CREAT_TIME != null">
            CREAT_TIME=#{CREAT_TIME,jdbcType=VARCHAR},
        </if>
        <if test="UPDATE_TIME != null">
            UPDATE_TIME=#{UPDATE_TIME,jdbcType=VARCHAR},
        </if>
    </trim></set>
    WHERE COURSE_ID = #{COURSE_ID,jdbcType=NUMERIC}
    </update>

    <select id="selectHistory" parameterType="java.lang.String" resultType="cn.edu.mju.ccce.dtrsystem.bean.Course">
        SELECT  <include refid="sl_Course" />
        FROM course
        WHERE COURSE_TEACHER_NBR = #{teacherNbr,jdbcType=VARCHAR} AND DATE_SUB(CURDATE(), INTERVAL 90 DAY) &lt;= date(COURSE_TIME) ORDER BY COURSE_TIME
    </select>

    <select id="selectCourseToDay" resultType="cn.edu.mju.ccce.dtrsystem.bean.Course">
        SELECT <include refid="sl_Course" />
        FROM course
        WHERE to_days(COURSE_TIME) = to_days(now()) AND COURSE_STATUS = 0;
    </select>

    <select id="selectCourseBeforePastWeek" resultType="cn.edu.mju.ccce.dtrsystem.bean.Course">
        SELECT <include refid="sl_Course" />
        FROM course
        WHERE DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(COURSE_TIME) AND date(COURSE_TIME) &lt;= CURDATE()
    </select>

    <select id="selectCourseBefore30Day" resultType="java.util.Map">
        SELECT COURSE_TIME as time,COURSE_TYPE_NAME as name
        FROM (SELECT COURSE_TIME FROM calendar  where  DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(COURSE_TIME) AND date(COURSE_TIME) &lt;= CURDATE())t2
        LEFT JOIN (SELECT date(course.COURSE_TIME) time ,COURSE_TYPE_NAME FROM course )t1  on t1.time = t2.COURSE_TIME
    </select>

    <select id="selectCourseListMsgBefore30Day" resultType="java.util.Map">
        SELECT  <include refid="sl_Course" />
        FROM course
        WHERE DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(COURSE_TIME) AND date(COURSE_TIME) &lt;= CURDATE()
    </select>

    <select id="selectCourseListMsg30Day" resultType="java.util.Map">
        SELECT  <include refid="sl_Course" />
        FROM course
        WHERE date(COURSE_TIME) >= DATE_SUB(CURDATE(), INTERVAL 30 DAY) AND date(COURSE_TIME) >= CURDATE()
    </select>

    <select id="selectCourseByDay" parameterType="java.lang.Integer" resultType="cn.edu.mju.ccce.dtrsystem.bean.Course">
        SELECT <include refid="sl_Course" />
        FROM course
        WHERE  date(COURSE_TIME) > DATE_SUB(CURDATE(), INTERVAL #{day,jdbcType=NUMERIC} DAY);
    </select>

</mapper>